rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  	match /hits/{shorturl}{
    	allow read: if request.auth.uid == resource.data.author;
        allow delete: if get(/databases/$(database)/documents/shorturls/$(shorturl)).data.author == request.auth.uid;
        allow update: if request.resource.data.hits == 1 + resource.data.hits;
        allow update: if request.resource.data.author == resource.data.author && request.resource.data.curl == resource.data.curl;
        allow create: if request.resource.data.hits == 1 &&
        	!exists(/databases/$(database)/documents/hits/$(shorturl));
    }
    match /shorturls/{shorturl}{
    	allow read : if true;
      allow create : if request.auth.uid != null;
      allow update,delete: if request.auth.uid == resource.data.author;
      
      match /tracking/{takingId}{
      	allow read : if true;
        allow create : if true;
        allow delete: if false;
        allow update: if false;
      }
    }
    
    match /settings/{uid}{
    	allow read,write: if request.auth.uid == uid;
    }
  }
}
